#ЗАДАНИЕ 1. ЗАГРУЗКА ДАННЫХ

Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения:surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
horse_names=['surgery?', 'Age', 'Hospital Number', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'peripheral pulse', 'mucous membranes',
             'capillary refill time', 'pain', 'peristalsis', 'abdominal distension', 'nasogastric tube', 'nasogastric reflux', 'nasogastric reflux PH', 'rectal examination - feces',
             'abdomen', 'packed cell volume', 'total protein', 'abdominocentesis appearance', 'abdomcentesis total protein', 'outcome', 'surgical lesion?',
             'type_1 of lesion', 'type_2 of lesion', 'type_3 of lesion', 'cp_data']

In [ ]:
horse_data=pd.read_csv('horse_data.csv',names=horse_names, na_values='?')
horse_data.head()

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,type_1 of lesion,type_2 of lesion,type_3 of lesion,cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [ ]:
horse_data=horse_data.drop(['Hospital Number', 'peripheral pulse', 'mucous membranes', 'capillary refill time', 'peristalsis', 'abdominal distension', 'nasogastric tube',
                            'nasogastric reflux', 'nasogastric reflux PH', 'rectal examination - feces', 'abdomen', 'packed cell volume', 'total protein',
                            'abdominocentesis appearance', 'abdomcentesis total protein', 'surgical lesion?', 'type_1 of lesion', 'type_2 of lesion',
                            'type_3 of lesion', 'cp_data'], axis=1)
horse_data.head()

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

# ЗАДАНИЕ 2. ПЕРВИЧНОЕ ИЗУЧЕНИЕ ДАННЫХ

# Базовые статистики

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [ ]:
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [ ]:
# исходя из описания столбцов, приведенного в д/з, столбцы №№1,2,7,11,18 будем рассматривать как категориальную величину
horse_data['surgery?'] = horse_data['surgery?'].astype('category')
horse_data['Age'] = horse_data['Age'].astype('category')
horse_data['temperature of extremities'] = horse_data['temperature of extremities'].astype('category')
horse_data['pain'] = horse_data['pain'].astype('category')
horse_data['outcome'] = horse_data['outcome'].astype('category')

In [ ]:
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    category
 1   Age                         300 non-null    category
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    category
 6   pain                        245 non-null    category
 7   outcome                     299 non-null    category
dtypes: category(5), float64(3)
memory usage: 9.4 KB

In [ ]:
# получаем базовые статистики: для количественных величин -минимум, макисмум, среднеарифметическое, СКО, квантили; для качественных величин - моду.
horse_data.describe(include='all')

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.0,300.0,240.000000,276.000000,242.000000,244.0,245.0,299.0
unique,2.0,2.0,NaN,NaN,NaN,4.0,5.0,3.0
top,1.0,1.0,NaN,NaN,NaN,3.0,3.0,1.0
freq,180.0,276.0,NaN,NaN,NaN,109.0,67.0,178.0
mean,NaN,NaN,38.167917,71.913043,30.417355,NaN,NaN,NaN
std,NaN,NaN,0.732289,28.630557,17.642231,NaN,NaN,NaN
min,NaN,NaN,35.400000,30.000000,8.000000,NaN,NaN,NaN
25%,NaN,NaN,37.800000,48.000000,18.500000,NaN,NaN,NaN
50%,NaN,NaN,38.200000,64.000000,24.500000,NaN,NaN,NaN
75%,NaN,NaN,38.500000,88.000000,36.000000,NaN,NaN,NaN
max,NaN,NaN,40.800000,184.000000,96.000000,NaN,NaN,NaN

In [ ]:
# находим размах для количественных величин
horse_data_range = horse_data[['rectal temperature', 'pulse', 'respiratory rate']].max() - horse_data[['rectal temperature', 'pulse', 'respiratory rate']].min()
print(horse_data_range)

rectal temperature      5.4
pulse                 154.0
respiratory rate       88.0
dtype: float64

In [ ]:
# находим медиану для количественных величин
print(horse_data[['rectal temperature', 'pulse', 'respiratory rate']].median())

rectal temperature    38.2
pulse                 64.0
respiratory rate      24.5
dtype: float64

In [ ]:
# находим дисперсию для количественных величин
print(horse_data[['rectal temperature', 'pulse', 'respiratory rate']].var())

rectal temperature      0.536247
pulse                 819.708775
respiratory rate      311.248328
dtype: float64

# Выбросы по столбцу "ректальная температура"

In [ ]:
# находим выбросы для столбца "ректальная температура" через межквартильный размах
q1 = horse_data['rectal temperature'].quantile(0.25)
q3 = horse_data['rectal temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)
lower_bound, upper_bound

(36.74999999999999, 39.550000000000004)

In [ ]:
remove_outliers = horse_data[horse_data['rectal temperature'].between(lower_bound, upper_bound)]
remove_outliers

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
292,1.0,1,37.0,66.0,20.0,1.0,4.0,2.0
294,2.0,1,38.5,40.0,16.0,1.0,2.0,1.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [ ]:
# что это за выбросы?
horse_data[~horse_data['rectal temperature'].between(lower_bound, upper_bound)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
16,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
20,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
...,...,...,...,...,...,...,...,...
282,1.0,1,NaN,70.0,16.0,3.0,2.0,2.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0

In [ ]:
print(remove_outliers['rectal temperature'].mean())
print(remove_outliers['rectal temperature'].median())

38.16902654867257
38.2

In [ ]:
print(horse_data['rectal temperature'].mean() - remove_outliers['rectal temperature'].mean())

-0.00110988200589901

In [ ]:
print(horse_data['rectal temperature'].median() - remove_outliers['rectal temperature'].median())

0.0

In [ ]:
# Исходя из описания столбца "ректальная температура", повышенная температура может возникнуть из-за инфекции, а сниженная - когда животное находится в позднем шоке.
# Анализ выборки с выбросами показывает, что данные находятся в допустимых диапазонах температур живой лошади (смерть наступает при мах=41,7 и min=20-25).
# Поэтому для данного столбца выбросы принимаем как естественные (не ошибки, а реальные исключительные наблюдения в данных) и оставляем их без изменений.

# Выбросы по столбцу "пульс"

In [ ]:
# находим выбросы для столбца "пульс" через межквартильный размах
q1 = horse_data['pulse'].quantile(0.25)
q3 = horse_data['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)
lower_bound, upper_bound

(-12.0, 148.0)

In [ ]:
remove_outliers = horse_data[horse_data['pulse'].between(lower_bound, upper_bound)]
remove_outliers

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [ ]:
# что это за выбросы?
horse_data[~horse_data['pulse'].between(lower_bound, upper_bound)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
55,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
58,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
74,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
78,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
83,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
115,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
117,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
126,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
136,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
151,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
159,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
174,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
175,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
182,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
204,1.0,1,39.2,NaN,23.0,3.0,4.0,1.0
207,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0

In [ ]:
print(remove_outliers['pulse'].mean())
print(remove_outliers['pulse'].median())

70.25830258302582
64.0

In [ ]:
print(horse_data['pulse'].mean() - remove_outliers['pulse'].mean())

1.6547408952350509

In [ ]:
print(horse_data['pulse'].median() - remove_outliers['pulse'].median())

0.0

In [ ]:
# Исходя из описания столбца "пульс", у животных с болезненными поражениями или страдающих циркуляторным шоком может быть учащенное сердцебиение.
# Анализ выборки с выбросами показывает, что данные находятся в допустимых диапазонах температур живой лошади (20-250 по данным Википедии).
# Поэтому для данного столбца выбросы принимаем как естественные (не ошибки, а реальные исключительные наблюдения в данных) и оставляем их без изменений.

# Выбросы по столбцу "частота дыхания"

In [ ]:
# находим выбросы для столбца "частота дыхания" через межквартильный размах
q1 = horse_data['respiratory rate'].quantile(0.25)
q3 = horse_data['respiratory rate'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr)
upper_bound = q3 + (1.5 * iqr)
lower_bound, upper_bound

(-7.75, 62.25)

In [ ]:
remove_outliers = horse_data[horse_data['respiratory rate'].between(lower_bound, upper_bound)]
remove_outliers

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
6,1.0,1,37.9,48.0,16.0,1.0,3.0,1.0
...,...,...,...,...,...,...,...,...
294,2.0,1,38.5,40.0,16.0,1.0,2.0,1.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [ ]:
# что это за выбросы?
horse_data[~horse_data['respiratory rate'].between(lower_bound, upper_bound)]

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
9,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
281,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
284,2.0,1,38.5,54.0,NaN,1.0,3.0,1.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

In [ ]:
print(remove_outliers['respiratory rate'].mean())
print(remove_outliers['respiratory rate'].median())

26.715555555555557
24.0

In [ ]:
print(horse_data['respiratory rate'].mean() - remove_outliers['respiratory rate'].mean())

3.701799816345268

In [ ]:
print(horse_data['respiratory rate'].median() - remove_outliers['respiratory rate'].median())

0.5

In [ ]:
# Исходя из описания столбца "частота дыхания": в среднем частота составляет 8-10, полезность сомнительна из-за больших колебаний.
# По данным Википедии при сильных нагрузках частота дыхания лошади может увеличиваться в 7-10 раз, т.о. принимаем максимальную частоту дыхания 100 раз в минуту. Данные из выборки выбросов вписываются в эту границу.
# Поэтому для данного столбца выбросы принимаем как естественные (не ошибки, а реальные исключительные наблюдения в данных) и оставляем их без изменений.

# Выбросы по столбцам с категориальными величинами

In [ ]:
# проверяем наличие ошибок в столбце "операция". Должно быть два значения: 1,2
horse_data['surgery?'].unique()

/usr/local/lib/python3.7/dist-packages/pandas/io/formats/format.py:1429: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())

[2.0, 1.0, NaN]
Categories (2, float64): [1.0, 2.0]

In [ ]:
# проверяем наличие ошибок в столбце "возраст". Должно быть два значения: 1,2
horse_data['Age'].unique()

[1, 9]
Categories (2, int64): [1, 9]

In [ ]:
# цифра "9" вместо цифры "2" - это вероятнее всего ошибка ввода данных (человеческий фактор) или ошибки выборки(данные из разных источников).
# Может быть два варианта: 1) означает 9 месяцев или 9 лет, в любом из этих случаев данные нужно исправлять на цифру "1"; 2) под цифрой "9" обозначали возраст молодых лошадей, в этом случае надо исправлять на цифру "2"

In [ ]:
# попробуем посмотреть связь возраста с количественными величинами (частоту дыхания не смотрим из-за "сомнительной полезности")
print(horse_data.groupby(['Age'])[['rectal temperature', 'pulse']].median())

     rectal temperature  pulse
Age
1                  38.1   60.0
9                  38.6  124.0

In [ ]:
# данные по пульсу отличаются значительно (из общедоступных источников известно что пульс молодых особей чаще чем у старых), принимаем что выбросы - это ошибки выборки.
# Исправляем значение "9" на значение "2", на моду не повлияет (было freq=276 из 300 для top=1)

In [ ]:
horse_data_age= horse_data.copy()
horse_data_age['Age'] = horse_data_age['Age'].astype('Int64')
horse_data_age.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    category
 1   Age                         300 non-null    Int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    category
 6   pain                        245 non-null    category
 7   outcome                     299 non-null    category
dtypes: Int64(1), category(4), float64(3)
memory usage: 11.6 KB

In [ ]:
horse_data_age['Age'].where(~(horse_data_age.Age == 9), other=2, inplace=True)
horse_data_age['Age'].unique()

<IntegerArray>
[1, 2]
Length: 2, dtype: Int64

In [ ]:
# проверяем наличие ошибок в столбце "температура конечностей". Должно быть четыре значения: 1,2,3,4.
horse_data['temperature of extremities'].unique()

/usr/local/lib/python3.7/dist-packages/pandas/io/formats/format.py:1429: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())

[3.0, NaN, 1.0, 4.0, 2.0]
Categories (4, float64): [1.0, 2.0, 3.0, 4.0]

In [ ]:
# проверяем наличие ошибок в столбце "боль". Должно быть пять значений: 1,2,3,4,5.
horse_data['pain'].unique()

[5.0, 3.0, 2.0, NaN, 4.0, 1.0]
Categories (5, float64): [1.0, 2.0, 3.0, 4.0, 5.0]

In [ ]:
# проверяем наличие ошибок в столбце "живот". Должно быть пять значений: 1,2,3,4,5.
horse_data['outcome'].unique()

[2.0, 3.0, 1.0, NaN]
Categories (3, float64): [1.0, 2.0, 3.0]

# ЗАДАНИЕ 3. РАБОТА С ПРОПУСКАМИ

In [ ]:
horse_data_age.isna().sum()

surgery?                       1
Age                            0
rectal temperature            60
pulse                         24
respiratory rate              58
temperature of extremities    56
pain                          55
outcome                        1
dtype: int64

# Замена пропусков в столбце "операция"

In [ ]:
# в этом столбце один пропуск, взаимосвязь с другими значениями не просматривается, поэтому заменяем модой

In [ ]:
horse_data_age['surgery?'].value_counts()

1.0    180
2.0    119
Name: surgery?, dtype: int64

In [ ]:
horse_data_age['surgery?'].mode()[0]

1.0

In [ ]:
horse_data_fill= horse_data_age.copy()
horse_data_fill['surgery?'] = horse_data_fill['surgery?'].fillna(horse_data_age['surgery?'].mode()[0])
horse_data_fill['surgery?'].value_counts()

1.0    181
2.0    119
Name: surgery?, dtype: int64

# Замена пропусков в столбце "боль"

In [ ]:
# В этом столбце 55 пропусков, возможна взаимосвязь со значениями пульса. При этом в описании указано, что приведена субъективная оценка уровня боли. Поэтому заменяем модой

In [ ]:
horse_data_age['pain'].value_counts()

3.0    67
2.0    59
5.0    42
4.0    39
1.0    38
Name: pain, dtype: int64

In [ ]:
horse_data_age['pain'].mode()[0]

3.0

In [ ]:
horse_data_fill['pain'] = horse_data_fill['pain'].fillna(horse_data_age['pain'].mode()[0])
horse_data_fill['pain'].value_counts()

3.0    122
2.0     59
5.0     42
4.0     39
1.0     38
Name: pain, dtype: int64

# Замена пропусков в столбце "ректальная температура"

In [ ]:
# в этом столбце 60 пропусков. Есть взаимосвязь со столбцом "температура конечностей"(горячие конечности должны коррелировать с повышенной ректальной температурой)

In [ ]:
print(horse_data_age.groupby(['temperature of extremities'])[['rectal temperature']].mean())

                            rectal temperature
temperature of extremities
1.0                                  38.126389
2.0                                  38.203846
3.0                                  38.187500
4.0                                  38.455000

In [ ]:
horse_data_fill.groupby('temperature of extremities').count()[['rectal temperature']].head()

                            rectal temperature
temperature of extremities
1.0                                         72
2.0                                         26
3.0                                         80
4.0                                         20

In [ ]:
horse_data_age['temperature of extremities'].value_counts()

3.0    109
1.0     78
2.0     30
4.0     27
Name: temperature of extremities, dtype: int64

In [ ]:
# из анализа видно, что больше всего пропусков ректальной температуры для значения "3" температуры конечностей.
# При этом по группам разброс средних ректальных температур очень незначительный.
# Делаем замену средним

In [ ]:
horse_data_fill['rectal temperature'] = horse_data_fill['rectal temperature'].fillna(horse_data_age['rectal temperature'].mean())

In [ ]:
print(horse_data_age['rectal temperature'].describe())
print('-----------------------------------')
print(horse_data_fill['rectal temperature'].describe())

count    240.000000
mean      38.167917
std        0.732289
min       35.400000
25%       37.800000
50%       38.200000
75%       38.500000
max       40.800000
Name: rectal temperature, dtype: float64
-----------------------------------
count    300.000000
mean      38.167917
std        0.654705
min       35.400000
25%       37.900000
50%       38.167917
75%       38.500000
max       40.800000
Name: rectal temperature, dtype: float64

# Замена пропусков в столбце "пульс"

In [ ]:
# в этом столбце 24 пропуска. Возможна взаимосвязь со столбцом "боль"

In [ ]:
print(horse_data_age.groupby(['pain'])[['pulse']].median())

      pulse
pain
1.0    48.0
2.0    78.0
3.0    60.0
4.0    80.0
5.0    88.0

In [ ]:
# взаимосвязь между столбцами действительно прослеживается.
# заполняем пропуски медианой с группировкой по одной переменной.

In [ ]:
horse_data_fill['pulse'] = horse_data_fill['pulse'].fillna(horse_data_age.groupby('pain')['pulse'].transform('median'))

In [ ]:
horse_data_age.groupby('pain').count()[['pulse']].head()

      pulse
pain
1.0      37
2.0      57
3.0      65
4.0      35
5.0      35

In [ ]:
horse_data_fill.groupby('pain').count()[['pulse']].head()

      pulse
pain
1.0      38
2.0      59
3.0     114
4.0      39
5.0      42

In [ ]:
print(horse_data_age['pulse'].describe())
print('-----------------------------------')
print(horse_data_fill['pulse'].describe())

count    276.000000
mean      71.913043
std       28.630557
min       30.000000
25%       48.000000
50%       64.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64
-----------------------------------
count    292.000000
mean      72.287671
std       28.014591
min       30.000000
25%       48.000000
50%       65.500000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64

In [ ]:
# оставшиеся восемь пропусков заполняем медианой
horse_data_fill['pulse'] = horse_data_fill['pulse'].fillna(horse_data_age['pulse'].median())

In [ ]:
print(horse_data_age['pulse'].describe())
print('-----------------------------------')
print(horse_data_fill['pulse'].describe())

count    276.000000
mean      71.913043
std       28.630557
min       30.000000
25%       48.000000
50%       64.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64
-----------------------------------
count    300.000000
mean      72.066667
std       27.669615
min       30.000000
25%       48.000000
50%       64.000000
75%       88.000000
max      184.000000
Name: pulse, dtype: float64

# Замена пропусков в столбце "частота дыхания"

In [ ]:
# В этом столбце 58 пропусков. Взаимосвязи с другими значениями нет. Полезность данных сомнительна из-за больших колебаний. Данный столбец можно было бы удалить. Оставляем, учитывая небольшой процент пропуска. Заменяем медианой.

In [ ]:
horse_data_fill['respiratory rate'] = horse_data_fill['respiratory rate'].fillna(horse_data_age['respiratory rate'].median())

In [ ]:
print(horse_data_age['respiratory rate'].describe())
print('-----------------------------------')
print(horse_data_fill['respiratory rate'].describe())

count    242.000000
mean      30.417355
std       17.642231
min        8.000000
25%       18.500000
50%       24.500000
75%       36.000000
max       96.000000
Name: respiratory rate, dtype: float64
-----------------------------------
count    300.000000
mean      29.273333
std       16.010979
min        8.000000
25%       20.000000
50%       24.500000
75%       34.250000
max       96.000000
Name: respiratory rate, dtype: float64

# Замена пропусков в столбце "температура конечностей"

In [ ]:
# в этом столбце 56 пропусков. Есть взаимосвязь со столбцом "ректальная температура"(см.выше)
# Поскольку анализ выше показал незначительную взаимосвязь между значениями, заполняем пропуски модой

In [ ]:
horse_data_age['temperature of extremities'].value_counts()

3.0    109
1.0     78
2.0     30
4.0     27
Name: temperature of extremities, dtype: int64

In [ ]:
horse_data_age['temperature of extremities'].mode()[0]

3.0

In [ ]:
horse_data_fill['temperature of extremities'] = horse_data_fill['temperature of extremities'].fillna(horse_data_age['temperature of extremities'].mode()[0])

horse_data_fill['temperature of extremities'].value_counts()

3.0    165
1.0     78
2.0     30
4.0     27
Name: temperature of extremities, dtype: int64

# Замена пропусков в столбце "боль"

In [ ]:
# в этом столбце 1 пропуск. Взаимосвязь с другими значениями не прослеживается
# заполняем пропуски модой

In [ ]:
horse_data_age['outcome'].value_counts()

1.0    178
2.0     77
3.0     44
Name: outcome, dtype: int64

In [ ]:
horse_data_age['outcome'].mode()[0]

1.0

In [ ]:
horse_data_fill['outcome'] = horse_data_fill['outcome'].fillna(horse_data_age['outcome'].mode()[0])

horse_data_fill['outcome'].value_counts()

1.0    179
2.0     77
3.0     44
Name: outcome, dtype: int64

# Проверка датафрейма без пропусков

In [ ]:
horse_data_fill.isna().sum()

surgery?                      0
Age                           0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremities    0
pain                          0
outcome                       0
dtype: int64